<header class="navbar navbar-light bg-mygradient text-white">
    <nav class="nav nav-pills">
        <span class="nav-item">
            <a href="/" class="nav-link">
                <img class="img-profile" src="/static/images/py.png" width="35">
            </a>
        </span>
        <div class="topnav">
            <a href="/about">О нас</a>
            <a href="/time">Текущее время</a>
            <a href="/todo"> Задачник</a>
            <a href="/countries">Страны</a>
          </div>
    </nav>

        </span>
    </nav>
</header>

